.board-container {
  margin:0 auto;
  padding-top: 10px;
  width: 90%
}

.board-numbers {
  margin-top: 12px;
  font-size: 32px;
  text-align: center;
}

.board-row {
  display:flex;
  justify-content:center;
  margin: 1px auto;
}

a.board-cell {
  color: #ecf0f1;
  text-align: center;
  line-height: 58px;
  font-size: 36px;
  text-decoration:none;
  vertical-align: middle;
}

a.board-cell.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.8;
}

.board-cell {
  flex: 1;
  margin: 0 1px;
  cursor: pointer;
  border: 1px solid #444;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.board-cell {
  background: #2c3e50;
}

.board-cell:hover {
  background: #34495e;
}

.board-cell.disabled {
  background: #27ae60;
}

.board-winners {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.board-adelanto {
  font-size: 18px;
}

.board-counter {
  color: #c0392b;
  font-weight: bold;
  margin-left: 5px;

}

.board-winner {
  font-weight: bold;
  color: #2980b9;
}

.board-prize {
  font-weight: bold;
}

.next-prize {
  color: #2980b9;
}

/*By default it is 100% but I want this little separation*/
.btn-group-justified>.btn-group .btn {
  width: 97.5%;
  font-size: 16px;
}

.board-hr {
  border-radius:10px;
  border-top: 3px solid #d2d6de;
}

.board-btn {
  height:45px;
  font-size:22px;
  width: 100%
}


.board-msg {
  font-size: 18px;
}

.board-info-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.board-msg-result{
  font-weight: bold;
}

.board-header {
  font-size: 20px;
  text-align: center;
}

.modal-backdrop.in {
  opacity: 0;
}

.modal {
  background: rgba(0,0,0,0);
}

.modal-title {
  text-align: center;
  font-size: 26px;
  color: #2980b9;
  font-weight: bold;
}

.modal-title-lower {
  text-align: center;
  font-size: 22px;
}

.modal-winner-container {
  display: flex;
  justify-content: space-between;
}

.modal-winner-id {
  font-weight: bold;
  font-size: 22px;
}

.modal-winner-seller {
  font-size: 18px;
}

